/* Styles in this file will be scoped to the component they are imported into */

.container {
  text-align: center;
  padding: 20px;
  min-height: 100vh; /* Optional: ensures the container takes the full height of the viewport */
  /*background-color: #f0f0f0; /* Light gray background */
  background-color: #e0f7fa; /* Light cyan */
  /*background-color: #fffde7; /* Light yellow */
  /*background-color: #e6e6fa; /* Lavender */
  /*background-color: #f5f5dc; /* Beige */
}

.imageContainer {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.heading {
  color: #4a4a4a;
}

.text {
  color: #888;
}
